.container {
  display: flex;
  position: relative;
  color: rgb(201, 201, 216);
  height: 2rem;
  width: 100%;
  position: fixed;
  top: 0;
  /* background-color: black; */
  z-index: 5;
  background-color: transparent;
  padding: 4% 0;
}
.heading {
  display: flex;
  position: absolute;
  right: 0;
 
  margin-right: 2rem;
  list-style: none;
  align-items: right;
  color: aliceblue;
  gap: 2rem;
  align-self: right;
}
.heading > li :hover {
  cursor: pointer;
  color: rgb(13, 117, 228);
}
@media screen and (max-width: 768px) {
 
  .heading {
    gap: 0.5rem;
    font-size: 10px;
    margin-top: 1rem;
    margin-right: 0.6rem;
  }
}
