.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6% 6%;
  gap: 2rem;
}

.swiperdiv{
  width: 100%;
  align-items: center;

}
.heading {
  font-size: 3rem;
  color: rgb(172, 172, 197);

}
.projectimages {
  width: 320px;
  height: 200px;
}
.externallink {
  font-size: 20px;
}
.sslide{
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  align-items: flex-start;
 
}
@media screen and (max-width: 768px) {
  .heading {
  
    font-size: 1.3rem;
  }
  .projectimages {
    width: 160px;
    height: 100px;
    margin-left: -2rem;
  }
  .mySwiper {
    width: 180%;
  }
  .externallink {
    font-size: 15px;
  }
}
