.container {
  display: flex;
  flex-direction: column;
  background-color: rgb(8,8,8);
  align-items: center;
  justify-content: center;
 padding: 1% 0;
}
.socialicons {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

a {
  text-decoration: none;
  color: rgb(222, 228, 232);
}
.link {
  font-size: 22px;
}

.copy {
  /* margin: auto; */
  color: rgb(100, 104, 102);
 
} 
.copy>span{
  font-size: 12px;
}
@media screen and (max-width: 768px) {
  .container {
    height: 3.2rem;
  }
  .copy >span{
    font-size: 8px;
  }
  .link {
    font-size: 16px;
  }
}
